body{
    font-family: Arial, sans-serif;
    margin: 40px;
}

select, button{
    padding: 10px 15px;
    font-size: 16px;
    margin-right: 10px;
}

#msgBox{
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    display: none;   /* hidden on load */
    font-size: 18px;
}

#counter{
    margin-top: 20px;
    font-weight: bold;
}
